.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 646px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 156px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 356px;
  height: 137px;
  margin: -128px auto 0 106px;
}

.u-section-3 .u-image-3 {
  width: 394px;
  height: 207px;
  margin: 20px auto 0 51px;
}

.u-section-3 .u-image-4 {
  width: 570px;
  height: 90px;
  margin: -114px 18px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-4 {
    margin-top: -115px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 148px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -120px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 85px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 93px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 131px;
    margin-top: -65px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 179px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 54px;
    margin-top: -87px;
  }
}